[submodule "libs/DBoW3"]
	path = libs/DBoW3
	url = https://github.com/rmsalinas/DBoW3.git
[submodule "libs/Pangolin"]
	path = libs/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "drivers/nrealAirLinuxDriver"]
	path = drivers/nrealAirLinuxDriver
	url = https://gitlab.com/TheJackiMonster/nrealAirLinuxDriver.git
[submodule "slam/basalt"]
	path = slam/basalt
	url = https://gitlab.freedesktop.org/mateosss/basalt.git
[submodule "xr/wlx-overlay-s"]
	path = xr/wlx-overlay-s
	url = https://github.com/galister/wlx-overlay-s
